<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator1{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">{:lang('Region')}</a></li>
        <li class=""><a href="{:url('admin/region/create')}">{:lang('Create')}</a></li>
        <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i
                class="fa fa-chevron-circle-left"></i></a></li>
    </ul>

    <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
            <form action="{:url('admin/region/index')}" method="get" class="form-inline">
                <div class="form-group">
                    <input type="text" name="q" value="{$search.q}" class="form-control" placeholder="" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i> {:lang('Search')}
                </button>
            </form>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="tab-content">
        <div class="tab-pane active table-responsive no-padding">
            <table class="table table-condensed table-hover layui-table center-align">
                <thead>
                <tr>
                    <th class="layui-text-align layui-padding layui-col-xs1">{:lang('Serial number')}</th>
                    <th class="layui-text-align layui-padding layui-col-xs1">{:lang('Name')}</th>
                    <th class="layui-text-align layui-padding layui-col-xs1">{:lang('Pinyin')}</th>
                    <th class="layui-text-align layui-padding layui-col-xs1">{:lang('Status')}</th>
                    <th class="layui-text-align layui-padding layui-col-xs1">{:lang('Action')}</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr id="">
                    <td class="layui-text-align layui-padding">{$vo.id}</td>
                    <td class="layui-text-align layui-padding">{$vo.name}</td>
                    <td class="layui-text-align layui-padding">{$vo.pinyin}</td>
                    <td class="layui-text-align layui-padding">
                        {switch vo.isvalid}
                        {case 0}
                        <small class="label bg-red">{:lang('Disabled')}</small>
                        {/case}
                        {case 1}
                        <small class="label bg-light-blue ">{:lang('Valid')}</small>
                        {/case}
                        {default /}
                        {/switch}
                    </td>
                    <td class="layui-text-align layui-padding">
                        {if condition=" $vo['level'] lt 3"} <a href="{:url('admin/region/index', ['pid' => $vo['id']])}"
                                                               class="layui-btn layui-btn-xs layui-btn-normal"></i>
                        {:lang('View')}</a>{/if}
                        <a href="{:url('admin/region/edit', ['id' => $vo['id']])}" class="layui-btn layui-btn-xs"></i>
                            {:lang('Edit')}</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer" class="right-align" style="text-align: right">
        {$list->render()}
    </div>
</div>
{/block}
