<!--{include file='pub/base' /}-->
{extend name="public:base" /}
{block name="css"}{/block}<!-- 内容区域 -->
{block name="content"}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> Tpflow 工作流插件示例
    <a onclick="layer_show('添加工作流','{:url('wfadd')}','550','400')" class="btn btn-primary radius">添加工作流</a>
</nav>
<div class="page-container">
    <table class="table table-border table-bordered table-bg layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>流程名称</th>
            <th>流程类型</th>
            <th>添加时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.id}</td>
            <td><span title="{$vo.flow_desc}">{$vo.flow_name}</span></td>
            <td>{$type[$vo.type]}</td>
            <td>{:date('Y/m/d H:i',$vo['add_time'])}</td>
            <td>
                {if condition='$vo.status == 0'}
                正常
                {else/}
                禁用
                {/if}
            </td>
            <td>
                {if condition='$vo.edit ==""'}
                <a class='btn  radius size-S'
                   onclick="layer_show('修改','{:url('admin/wf/wfedit',['id'=>$vo.id])}', '550','400')">修改</a>
                <!--<a class='btn  radius size-S' href="{:url('admin/wf/wfedit', ['id' => $vo.id])}">修改</a>-->
                <!--<a class='btn  radius size-S' data-title="官方博客" data-href="{:url('/admin/wf/wfdesc',['flow_id'=>$vo.id])}" onclick="Hui_admin_tab(this)"> 设计流程</a>-->
                <a class='btn  radius size-S' data-title="官方博客" href="{:url('admin/wf/wfdesc', ['flow_id' => $vo.id])}" onclick="Hui_admin_tab(this)"> 设计流程</a>
                {else/}
                <a class='btn  radius size-S'> 运行中....</a>
                {/if}
                {if condition='$vo.status == 0'}
                <a class='btn  radius size-S' href="{:url('wfchange',['id'=>$vo['id'],'status'=>1])}" target=> 禁用</a>
                {else/}
                <a class='btn  radius size-S' href="{:url('wfchange',['id'=>$vo['id'],'status'=>0])}" target=> 启用</a>
                {/if}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui.admin/common.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laydate5.0.9/laydate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
{/block}