<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 自定义css -->
{block name="css"}
<style>
    .layui-laydate-content td.laydate-selected {
        background-color: #ECF0F5!important;
    }

    .width{
        width: 100px!important;
    }

    .layui-form-label{
        width: 56px!important;
        padding: 9px 0px;
        margin-right: 5px;
    }

    .width-input{
        width: 180px!important;
    }

    .layui-form-item .layui-inline{
        margin-right: 0;
    }

    .width-state{
        width: 85px!important;
    }
</style>
{/block}

<!-- 内容区域 -->
{block name="content"}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">{:lang('Customer this')}</a></li>
        <li class=""><a href="{:url('admin/customer/create')}">{:lang('Create')}</a></li>
        <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i
                class="fa fa-chevron-circle-left"></i></a></li>
    </ul>

    <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
            <form action="{:url('admin/customer/index')}" method="get" class="form-inline" role="form"
                  id="operate">
                <div class="layui-row">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:lang('Customer state')}</label>
                        <div class="layui-input-inline layui-form width">
                            <select name="state" lay-search="" lay-filter="demo">
                                <option value="" >全部</option>
                                {volist name='state'  id='vo' key="k"}
                                <option value="{$k}" {$search.state == $k ? 'selected' : '' }>{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    &nbsp; &nbsp;
                    <div class="layui-inline">
                        <label class="layui-form-label">{:lang('Case range')}</label>
                        <div class="layui-input-inline layui-form width">
                            <select name="data_range" lay-search="" lay-filter="demo">
                                {volist name='data_range' id='vo'}
                                <option value="{$vo.id}" {$search.data_range == $vo.id ? 'selected' : '' }>{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    &nbsp; &nbsp;
                    <div class="layui-inline" style="text-align: center;">
                        <input type="text" name="value" value="{$search.value}" class="form-control width "
                               placeholder="输入查询关键字"
                               style="width: 90%!important;"
                               autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <div class="layui-col-md12">
                            <!-- &nbsp;&nbsp;&nbsp; -->
                            <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i>{:lang('Search')}</button>
                            <button class="btn btn-primary btn-flat" style="margin-left: 10px" id="exportExcel" type="button">
                                <i class="layui-icon layui-icon-download-circle"></i>&nbsp;&nbsp;{:lang('Export')}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="tab-content">
        <div class="tab-pane active table-responsive no-padding">
            <table class="table table-condensed table-hover layui-table center-align">
                <thead>
                <tr>
                    <th class="layui-text-align layui-padding" style="width: 6%">{:lang('Serial number')}</th>
                    <th class="layui-text-align layui-padding" style="width: 6%">{:lang('Customer name')}</th>
                    <th class="layui-text-align layui-padding" style="width: 10%">{:lang('Customer phone')}</th>
                    <th class="layui-text-align layui-padding" style="width: 5%">{:lang('Customer sex')}</th>
                    <th class="layui-text-align layui-padding" style="width: 8%">{:lang('Customer state')}</th>
                    <th class="layui-text-align layui-padding" style="width: 6%">{:lang('Customer referees')}</th>
                    <th class="layui-text-align layui-padding" style="width: 8%">{:lang('Customer intention product')}</th>
                    <th class="layui-text-align layui-padding" style="width: 6%">{:lang('Create uid')}</th>
                    <th class="layui-text-align layui-padding" style="width: 10%">{:lang('Create_time')}</th>
                    <th class="layui-text-align layui-padding" style="width: 10%">{:lang('Action')}</th>
                </tr>
                </thead>
                <tbody>
                {volist name="customer" id="vo" key="key"}
                <tr id="">
                    <td class="layui-text-align layui-padding">{$key + $current_num}</td>
                    <td class="layui-text-align layui-padding">{$vo.name}</td>
                    <td class="layui-text-align layui-padding">{$vo.phone}</td>
                    <td class="layui-text-align layui-padding">
                        {volist name="sex" id="item" key='ko'}
                            {if condition="$ko == $vo.sex"}{$item}{/if}
                        {/volist}
                    </td>
                    <td class="layui-text-align layui-padding">
                        {volist name="state" id="it" key='k'}
                            {if condition="$k == $vo.state"}{$it}{/if}
                        {/volist}
                    </td>
                    <td class="layui-text-align layui-padding">
                        {volist name="user" id="u" key='uk'}
                        {if condition="$u.id == $vo.referees"}{$u.name}{/if}
                        {/volist}
                    </td>
                    <td class="layui-text-align layui-padding">
                        {volist name="product" id="p" key='pk'}
                        {if condition="$pk == $vo.intention_product"}{$p}{/if}
                        {/volist}
                    </td>
                    <td class="layui-text-align layui-padding">
                        {volist name="user" id="u" key='uk'}
                            {if condition="$u.id == $vo.create_uid"}{$u.name}{/if}
                        {/volist}
                    </td>
                    <td class="layui-text-align layui-padding">{$vo.create_time|date="Y-m-d H:i"}</td>
                    <td class="layui-text-align layui-padding">
                        <a href="{:url('admin/customer/detail', ['id' => $vo.id])}"
                           class="layui-btn layui-btn-xs layui-btn-normal"></i> {:lang('View')}</a>
                        <a href="{:url('admin/customer/edit', ['id' => $vo.id])}" class="layui-btn layui-btn-xs"></i>
                            {:lang('Edit')}</a>
                    </td>
                </tr>
                {/volist}
                {empty name="customer"}
                <tr>
                    <td colspan="10" class="text-center layui-text-align layui-padding">{:lang("No record")}</td>
                </tr>
                {/empty}
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
    </div>
    <div class="box-footer" class="right-align" style="text-align: right">
        {$customer->render()}
    </div>
</div>
{/block}
<!-- 自定义js -->
{block name="js"}
<script src="__STATIC__/layui/layui_exts/excel.js"></script>
<script type="text/javascript">
    //----------------------------------------------------------------
    //LAYUI默认配置 导出列表
    //----------------------------------------------------------------
    layui.config({
        base: '__STATIC__/layui/layui_exts/'
    }).extend({
        excel: 'excel',
    }).use(['laytpl', 'form', 'laydate', 'table', 'layer', 'jquery'], function () {
        var laydate = layui.laydate;
        var excel = layui.excel;
        var $ = layui.$;
        laydate.render({
            elem: '#test'
            , range: true
            , theme: 'molv'
            , max: 'today'
        });
        //参考文档http://excel.wj2015.com/_book/docs/%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B.html
        $('#exportExcel').on('click', function () {
            // 模拟从后端接口读取需要导出的数据
            $.ajax({
                url: "{:url('admin/customer/export')}"
                , data: $("#operate").serialize()
                , type: 'get'
                , dataType: 'json'
                , success(xhr) {
                    if (xhr.code == 200) {
                        var arr  = xhr.data;
                        var len  = arr.length;
                        var data = new Array();
                        for (var i = 0; i < len; i++) {
                            var obj               = new Object();
                            obj.id                = arr[i]['id'];
                            obj.name              = arr[i]['name'];
                            obj.phone             = arr[i]['phone'];
                            obj.sex               = arr[i]['sex'];
                            obj.birthday          = arr[i]['birthday'];
                            obj.address           = arr[i]['address'];
                            obj.state             = arr[i]['state'];
                            obj.referees          = arr[i]['referees'];
                            obj.intention_product = arr[i]['intention_product'];
                            obj.intention_detail  = arr[i]['intention_detail'];
                            obj.sm_name            = arr[i]['sm_name'];
                            obj.create_uid        = arr[i]['create_uid'];
                            obj.create_time       = arr[i]['create_time'];
                            data.push(obj);
                        }
                        //数组头部新增表头
                        data.unshift({
                            id                : '序号',
                            name              : '客户姓名',
                            phone             : '客户电话',
                            sex               : '性别',
                            birthday          : '生日',
                            address           : '地址',
                            state             : '客户状态',
                            referees          : '推荐人',
                            intention_product : '意向产品',
                            intention_detail  : '意向说明',
                            sm_name           : '关联标的',
                            create_uid        : '创建人',
                            create_time       : '创建时间',
                        });
                        // 如果需要调整顺序，请执行梳理函数
                        var data = excel.filterExportData(data, {
                            id                : 'id',
                            name              : 'name',
                            phone             : 'phone',
                            sex               : 'sex',
                            birthday          : 'birthday',
                            address           : 'address',
                            state             : 'state',
                            referees          : 'referees',
                            intention_product : 'intention_product',
                            intention_detail  : 'intention_detail',
                            sm_name           : 'sm_name',
                            create_uid        : 'create_uid',
                            create_time       : 'create_time',
                        });

                        //设置列宽
                        var colConfig = excel.makeColConfig({
                            'A': 40,
                            'B': 100,
                            'C': 100,
                            'D': 60,
                            'E': 100,
                            'F': 300,
                            'G': 100,
                            'H': 100,
                            'I': 100,
                            'J': 300,
                            'K': 300,
                            'L': 100,
                            'M': 100,
                        }, 80);

                        //设置行高
                        var rowConfig = excel.makeRowConfig({
                            1: 30,
                            30000: 30
                        }, 30);

                        // 2. 调用设置样式的函数，传入设置的范围，支持回调
                        excel.setExportCellStyle(data, 'A1:M' + xhr.count, {
                            s: {
                                // fill: { bgColor: { indexed: 64 },fgColor: { rgb: "CCE8CF" } },
                                alignment: {
                                    horizontal: 'center',
                                    vertical  : 'center'
                                }
                            }
                        }, function (cell, newCell, row, config, currentRow, currentCol, fieldKey) {
                            // 回调参数，cell:原有数据，newCell:根据批量设置规则自动生成的样式，row:所在行数据，config:传入的配置,currentRow:当前行索引,currentCol:当前列索引，fieldKey:当前字段索引
                            // return ((currentRow + currentCol) % 2 === 0) ? newCell : cell;// 隔行隔列上色
                            //返回修饰后的cell
                            return newCell;
                        });

                        // 3. 执行导出函数，系统会弹出弹框
                        layui.excel.exportExcel({
                            sheet1: data
                        }, "客户列表{:date('Y-m-d')}.xlsx", 'xlsx', {
                            extend: {
                                '!cols': colConfig,
                                '!rows': rowConfig,
                            }
                        });
                        var timestart = Date.now();
                        var timeend = Date.now();
                        var spent = (timeend - timestart) / 1000;
                        // layer.alert('导出耗时 ' + spent + ' s');
                    }
                },
                error() {
                    layer.alert('获取数据失败');
                }
            })
            ;
        });
    });
</script>
{/block}