<aside class="main-sidebar layui-side" style="width: 230px">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <!-- <li class="header">控制面板</li> -->
            <!-- Optionally, you can add icons to the links -->
            <!--<li class="header">NAVIGATION</li>-->
            {notempty name="menu"}
            {volist name="menu" id="vo"}
            {notempty name="vo.child"}
            <li class="treeview {$vo.active}" style="padding: 2px 0!important;">
                <a href="{$vo.url}">
                    <!--<i class="{$vo.icon}"></i> <span>&lt;!&ndash;{$vo.name}&ndash;&gt;{:lang($vo['lang_var'])}</span>-->
                    <i class="{$vo.icon}"></i> <span><!--{$vo.name}-->{$vo.name}</span>
                    <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    {volist name="vo.child" id="son"}
                    {notempty name="son.child"}
                    <li class="treeview {$son.active}" style="padding: 5px 0!important">
                        <!--<a href="{$son.url}"><i class="{$son.icon}"></i> {:lang($son['lang_var'])}-->
                        <a href="{$son.url}"><i class="{$son.icon}"></i> {$vo.name}
                            <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                        </a>
                        <ul class="treeview-menu" >
                            {volist name="son.child" id="gson"}
                            <!--<li class="{$gson.active}"><a href="{$gson.url}"><i class="{$gson.icon}"></i> {:lang($gson['lang_var'])}</a></li>-->
                            <li class="{$gson.active}" style="padding: 5px 0!important;"><a href="{$gson.url}"><i class="{$gson.icon}"></i>
                                {$gson.name}</a></li>
                            {/volist}
                        </ul>
                    </li>
                    {else /}
                    <!--<li class="{$son.active}"><a href="{$son.url}"><i class="{$son.icon}"></i> {:lang($son['lang_var'])}</a></li>-->
                    <li class="{$son.active}" style="padding: 5px 0!important"><a href="{$son.url}"><i class="{$son.icon}"></i> {$son.name}</a></li>
                    {/notempty}
                    {/volist}
                </ul>
            </li>
            {else /}
            <!--<li class="{$vo.active}"><a href="{$vo.url}"><i class="{$vo.icon}"></i> <span>{:lang($vo['lang_var'])}</span></a></li>-->
            <li class="{$vo.active}" style="padding: 2px 0!important;"><a href="{$vo.url}"><i class="{$vo.icon}"></i> <span>{$vo.name}</span></a></li>
            {/notempty}
            {/volist}
            {/notempty}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>