<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">{:lang('Permission')}</a></li>
        <li class=""><a href="{:url('admin/rule/create')}">{:lang('Create')}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active table-responsive no-padding">
            <table class="table table-condensed table-hover layui-table" id="permission">
                <thead>
                <tr>
                    <th class=" layui-padding layui-col-md3">{:lang('Name')}
                        <a href="#" onclick="jQuery('#permission').treetable('expandAll'); return false;" class="btn btn-flat btn-default btn-xs"><i class="fa fa-plus"></i></a>
                        <a href="#" onclick="jQuery('#permission').treetable('collapseAll'); return false;" class="btn btn-flat btn-default btn-xs"><i class="fa fa-minus"></i></a>
                    </th>
                    <th class="layui-text-align layui-padding layui-col-md3">URL</th>
                    <th class="layui-text-align layui-padding layui-col-md3">{:lang('Language variable')}</th>
                    <th class="layui-text-align layui-padding layui-col-md1">{:lang('Menu')}</th>
                    <th class="layui-text-align layui-padding layui-col-md2">{:lang('Action')}</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr id="tr_{$vo.id}" data-tt-id="{$vo.id}" data-tt-parent-id="{$vo.pid}">
                    <td class="layui-padding">{$vo.name}</td>
                    <td class="layui-text-align layui-padding">{$vo.url}</td>
                    <td class="layui-text-align layui-padding">{$vo.lang_var}</td>
                    <td class="layui-text-align layui-padding">
                        {switch vo.menu}
                        {case 1}
                        <small class="label bg-light-blue"><i class="fa fa-check"></i></small>
                        {/case}
                        {case 0}
                        <small class="label bg-gray"><i class="fa fa-times"></i></small>
                        {/case}
                        {default /}
                        {/switch}
                    </td>
                    <td class="layui-text-align layui-padding">
                        <a href="{:url('admin/rule/edit', ['id' => $vo['id']])}" class="layui-btn layui-btn-xs"></i>{:lang('Edit')}</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="remove('{$vo.id}')" href="#">{:lang('Delete')}</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script type="text/javascript">
    $(document).ready(function () {
        $("#permission").treetable({expandable: true});
        $("#permission").treetable('expandAll');
    });

    function remove(id) {
        //第三方扩展皮肤
        //eg1
        layer.confirm('确定要删除吗?', {icon: 3, title: '提示'}, function (index) {
            //do something
            if (index == 1) {
                $.ajax({
                    url: "{:url('admin/rule/remove')}",
                    data: {id: id},
                    type: 'post',
                    dataType: 'json',
                    success: function (xhr) {
                        if (xhr.code == 200) {
                            //第三方扩展皮肤
                            layer.open({
                                icon: 1,
                                content: xhr.msg,
                                skin: 'layer-ext-moon', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                                yes: function (index, layero) {
                                    //do something
                                    window.location.reload();
                                }
                            });
                        } else {
                            layer.alert('error', {
                                icon: 2,
                                content: xhr.msg,
                                skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                            })
                        }
                    }
                });
            }
            // layer.close(index);
        });
    }
</script>
{/block}