<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}
<style>
    .margin {
        margin: 20px 0;
    }

    .layui-form-label {
        width: 110px !important;
    }

    .width {
        width: 48% !important;
    }

    .margin_left {
        margin-left: 3px;
    }

    .background_color {
        background-color: #F5F7FA;
    }

    .disable {
        background-color: #F5F7FA;
    }

    .border {
        border: 1px solid #e6e6e6;
    }

    .city-picker-span > span:nth-child(1) {
        padding-left: 10px;
        color: #757575;
    }

    .city-picker-span > .title > span:nth-child(1) {
        padding-left: 10px;
    }

    .width-district {
        width: 330px !important;
    }
</style>
{/block}

<!-- 内容区域 -->
{block name="content"}
<link rel="stylesheet" type="text/css" href="__STATIC__/city_picker/css/city-picker.css"/>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class=""><a href="{:url('admin/agency/index')}">{:lang('Agency')}</a></li>
        <li class="active"><a href="{:url('admin/agency/create')}">{:lang('Edit')}</a></li>
        <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i
                class="fa fa-chevron-circle-left"></i></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <form role="form" id="operate" class="layui-form">
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('Name')}<span class="lauyi-margin-left text-red">*</span></lable>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" placeholder="名称" value="{$info.name}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('District')}<span class="lauyi-margin-left text-red">*</span>
                    </lable>
                    <div class="layui-input-inline border width-district" id="district">
                        <input class="form-control" readonly type="text" id="company_city_str"
                               data-toggle="city-picker">
                        <input type="hidden" name="province_id" id="province_id" value="{$info.province_id}"/>
                        <input type="hidden" name="city_id" id="city_id" value="{$info.city_id}"/>
                        <input type="hidden" name="area_id" id="area_id" value="{$info.area_id}"/>
                        <input type="hidden" name="province_name" id="province_name" value="{$info.province_name}"/>
                        <input type="hidden" name="city_name" id="city_name" value="{$info.city_name}"/>
                        <input type="hidden" name="area_name" id="area_name" value="{$info.area_name}"/>
                        <input type="hidden" id="api_url" url="{:url('admin/region/getRegionJson')}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('Address')}<span class="lauyi-margin-left text-red">*</span>
                    </lable>
                    <div class="layui-input-inline">
                        <input type="text" name="address" autocomplete="off" placeholder="详细地址" class="layui-input" value="{$info.address}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('Type')}<span class="lauyi-margin-left text-red">*</span>
                    </lable>
                    <div class="layui-input-inline">
                        <select name="type" id="type" class="form-control input-sm">
                            {volist name="list" id="vo" key="k" }
                            <option value="{$k}" {eq name="info.type" value="$k" }selected{/eq} >{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('Status')}<span class="lauyi-margin-left text-red">*</span></label>
                    <div class="layui-input-block">
                        <input type="radio" name="isvalid" title="{:lang('Valid')}" {eq name="info.isvalid" value="1" }checked{/eq} value="1" >
                        <input type="radio" name="isvalid" title="{:lang('Disabled')}" {eq name="info.isvalid" value="0" }checked{/eq} value="0">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1" onclick="operate();">
                            {:lang('Submit')}
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">{:lang('Reset')}</button>
                        <input type="hidden" name="id" value="{$info.id}"/>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script type="text/javascript" src="__STATIC__/city_picker/city-picker.data.js"></script>
<script type="text/javascript" src="__STATIC__/city_picker/city-picker.js"></script>
<script type="text/javascript">
    //-------------------------------------
    //LAYUI默认配置
    //-------------------------------------
    layui.use(['laytpl', 'form'], function () {
        var form = layui.form;
    });

    // 初始化公司所在地区
    $("#company_city_str").citypicker({
        province: "{$info['province_name']}",
        city: "{$info['city_name']}",
        district: "{$info['area_name']}"
    });

    //----------------------------------------------------------------
    //保存编辑
    //----------------------------------------------------------------
    function operate() {
        var province_name = $('#district').find('.select-item.province').html();
        var province_id = $('#district').find('.province').attr('data-code');
        var area_name = $('#district').find('.select-item.district').html();
        var city_name = $('#district').find('.select-item.city').html();
        var area_id = $('#district').find('.district').attr('data-code');
        var city_id = $('#district').find('.city').attr('data-code');
        $('#province_name').val(province_name);
        $('#province_id').val(province_id);
        $('#area_name').val(area_name);
        $('#city_name').val(city_name);
        $('#city_id').val(city_id);
        $('#area_id').val(area_id);
        $.ajax({
            url: "{:url('admin/agency/edit')}",
            data: $("#operate").serialize(),
            type: 'post',
            dataType: 'json',
            success: function (xhr) {
                if (xhr.code == 200) {
                    //第三方扩展皮肤
                    layer.open({
                        icon: 1,
                        content: xhr.msg,
                        skin: 'layer-ext-moon', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                        yes: function (index, layero) {
                            //do something
                            window.location.href = "{:url('admin/agency/index')}";
                        }
                    });
                } else {
                    layer.alert('error', {
                        icon: 2,
                        content: xhr.msg,
                        skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                    })
                }
            }
        });
    }
</script>
{/block}