<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}
<link rel="stylesheet" href="__STATIC__/layui-formSelects-master/formSelects-v4.css">
<style>
    .layui-form-label {
        width: 110px !important;
    }

    .lay-ext-mulitsel .layui-input.multiple a {
        padding: 0px 2px;
    }
    
    .layui-form-select dl {
        max-height: 220px;
    }
</style>
{/block}
<!-- 内容区域 -->
{block name="content"}
<div class="nav-tabs-custom" style="margin-bottom:150px;">
    <ul class="nav nav-tabs">
        <li class=""><a href="{:url('admin/team/index')}">{:lang('Team')}</a></li>
        <li class="active"><a href="#">{:lang('Create')}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <form role="form" id="operate" class="layui-form">
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('Name')}<span class="lauyi-margin-left text-red">*</span>
                    </lable>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" placeholder="请输入团队名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('Court')}<span class="lauyi-margin-left text-red">*</span>
                    </lable>
                    <div class="layui-input-inline">
                        <select name="agency_id" lay-search="" lay-filter="demo">
                            <option value="">请选择或搜索法院</option>
                            {volist name="court" id ='vo'}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('Manager')}<span class="lauyi-margin-left text-red">*</span>
                    </lable>
                    <div class="layui-input-inline">
                        <select name="manager" lay-search="" lay-filter="demo">
                            <option value="">请选择区域经理</option>
                            {volist name="user" id ='vo'}
                            <option value="{$vo.uid}">{$vo.true_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('Leader')}<span class="lauyi-margin-left text-red">*</span>
                    </lable>
                    <div class="layui-input-inline">
                        <select name="leader" lay-filter="demo">
                            <option value="">请选择主管</option>
                            {volist name="user" id ='vo'}
                            <option value="{$vo.uid}">{$vo.true_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('Out job')}</lable>
                    <div class="layui-input-inline" style="width: 30%">
                        <div class="layui-form">
                            <select name="out_job"  xm-select="example10_1" xm-select-search="" xm-select-search-type="dl" xm-select-show-count="3">
                                <option value="">请选择外勤</option>
                                {volist name="user" id ='vo' key="key"}
                                <option value="{$vo.uid}">{$vo.true_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <lable class="layui-form-label">{:lang('In job')}</lable>
                    <div class="layui-input-inline" style="width: 30%">
                        <div class="layui-form">
                            <select name="in_job"  xm-select="example10_11" xm-select-search="" xm-select-search-type="dl" xm-select-show-count="3">
                                <option value="">请选择内勤</option>
                                {volist name="user" id ='vo' key="key"}
                                <option value="{$vo.uid}">{$vo.true_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('Status')}<span
                            class="lauyi-margin-left text-red">*</span></label>
                    <div class="layui-input-block">
                        <input type="radio" name="isvalid" value="1" title="{:lang('Valid')}" checked="">
                        <input type="radio" name="isvalid" value="0" title="{:lang('Disabled')}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1" onclick="operate();">
                            {:lang('Submit')}
                        </button>
                    </div>
                </div>
                <input type="hidden" name="__token__" value="{$token}"/>
            </form>
        </div>
        <!-- /.tab-pane -->
    </div>
</div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script type="text/javascript" src="__STATIC__/layui-formSelects-master/formSelects-v4.js"></script>
<script type="text/javascript">
    //-------------------------------------
    //LAYUI默认配置
    //-------------------------------------
    layui.use(['laytpl', 'form'], function () {
        var form = layui.form;
    });

    //----------------------------------------------------------------
    //提交表单
    //----------------------------------------------------------------
    function operate() {
        $.ajax({
            url: "{:url('admin/team/create')}",
            data: $("#operate").serialize(),
            type: 'post',
            dataType: 'json',
            success: function (xhr) {
                if (xhr.code == 200) {
                    //第三方扩展皮肤
                    layer.open({
                        icon: 1,
                        content: xhr.msg,
                        skin: 'layer-ext-moon', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                        yes: function (index, layero) {
                            window.location.href = "{:url('admin/team/index')}";
                        }
                    });
                } else {
                    layer.alert('error', {
                        icon: 2,
                        content: xhr.msg,
                        skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                    })
                }
            }
        });
    }
</script>
{/block}